.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 10rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;

    .option {
      cursor: pointer;
      padding: 1rem 1.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    margin-bottom: 2rem;
    .logo-container {
      width: 8rem;
    }

    .options {
      width: 80%;
    }
  }
}
